### Script for reading data for Problem 5.2 (data_BohrHypothesis.txt) in Applied Statistics 2022 problem set:

This script reads the file __"data_BohrHypothesis.txt"__ for Problem 5.2 in the problem set of Applied Statistics 2022/23. This data files contains 216545 entries in two columns: 

* **wavelength** (nm) of radiation,
* **voltage** (V) of power supply.


####  Author: 
- Troels Petersen (Niels Bohr Institute, petersen@nbi.dk)

####  Date:   
 - 1st of December 2022

In [1]:
import pandas as pd

In [4]:
dataframe = pd.read_csv('data_BohrHypothesis.csv', header=None, index_col=None)
wavel, voltage = dataframe.values.T
dataframe

               0        1
0       2439.703  134.833
1       1276.206  102.063
2       1665.593   98.818
3       1868.467  123.123
4       2075.338  103.849
...          ...      ...
216540  1761.204  137.935
216541  1748.524  153.508
216542  1555.461   76.994
216543  1367.070   87.436
216544  1793.135   94.689

[216545 rows x 2 columns]

Print the first 10 entries to check the content of the file:

In [3]:
for i in range(10):
    print(f"  wavelength = {wavel[i]:4.2f} nm    voltage = {voltage[i]:6.2f} V")

  wavelength = 1276.21 nm    voltage = 102.06 V
  wavelength = 1665.59 nm    voltage =  98.82 V
  wavelength = 1868.47 nm    voltage = 123.12 V
  wavelength = 2075.34 nm    voltage = 103.85 V
  wavelength = 1962.51 nm    voltage =  96.54 V
  wavelength = 1563.69 nm    voltage =  91.83 V
  wavelength = 1395.86 nm    voltage = 107.95 V
  wavelength = 2112.96 nm    voltage =  74.54 V
  wavelength = 1434.76 nm    voltage = 129.24 V
  wavelength = 1985.00 nm    voltage = 149.94 V