### Script for reading data for Problem 5.1 (data_AlgaeGrowth.txt) in Applied Statistics 2022 problem set:

This script reads the file __"data_AlgaeGrowth.txt"__ for Problem 5.1 in the problem set of Applied Statistics 2022/23. This data files contains 90 entries in three columns: 
* **time** (hours) of measurement,
* **area** ($\mathrm{cm}^2$) of the algae coverage,
* **area uncertainty** ($\mathrm{cm}^2$).


####  Author: 
- Troels Petersen (Niels Bohr Institute, petersen@nbi.dk)

####  Date:   
 - 1st of December 2022

In [1]:
import pandas as pd

In [2]:
dataframe = pd.read_csv('data_AlgaeGrowth.csv', header=None, index_col=None)
time, area, err_area = dataframe.values.T
dataframe

        0        1     2
0    0.35  1470.40  45.0
1    0.57  1426.93  45.0
2    0.60  1466.84  45.0
3    0.90  1580.44  45.0
4    1.08  1626.27  45.0
..    ...      ...   ...
85  11.71  1974.83  45.0
86  11.85  2044.98  45.0
87  11.93  2059.38  45.0
88  12.26  2014.04  45.0
89  12.99  2087.49  45.0

[90 rows x 3 columns]

Print the first 10 entries to check the content of the file:

In [3]:
for i in range(10):
    print(f"  time = {time[i]:4.2f} hrs    area = {area[i]:6.2f} cm2    err_area = {err_area[i]:5.2f} cm2")

  time = 0.35 hrs    area = 1470.40 cm2    err_area = 45.00 cm2
  time = 0.57 hrs    area = 1426.93 cm2    err_area = 45.00 cm2
  time = 0.60 hrs    area = 1466.84 cm2    err_area = 45.00 cm2
  time = 0.90 hrs    area = 1580.44 cm2    err_area = 45.00 cm2
  time = 1.08 hrs    area = 1626.27 cm2    err_area = 45.00 cm2
  time = 1.30 hrs    area = 1624.67 cm2    err_area = 45.00 cm2
  time = 1.51 hrs    area = 1559.46 cm2    err_area = 45.00 cm2
  time = 1.64 hrs    area = 1577.22 cm2    err_area = 45.00 cm2
  time = 1.86 hrs    area = 1626.99 cm2    err_area = 45.00 cm2
  time = 2.03 hrs    area = 1710.10 cm2    err_area = 45.00 cm2